   
@media screen and ( max-width: 1250px )
    .nav
        &__item
            margin-right: 1rem
    html 
        font-size: 12px
    .card
        &__pricetag
            padding: 1rem 2rem 1rem 1rem
    .our-clients
        &__button
            padding-top: 0
            padding-bottom: 0
    .our-team
        background-color: $dark
        position: relative
        &__text
            display: none
        &__button
            left: 0
            padding: 1rem 3rem
        &__card
            max-width: 16.2rem
            margin-left: auto

@media screen and ( max-width: 992px )
    .our-clients
        display: none
        background-color: $dark
        &__text
            display: none
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .our-team
        &__button
            left: 0
            padding: 1rem 3rem
        &__card
            max-width: 16.2rem
            margin-left: auto

@media screen and ( max-width: 760px )
    .section
        &-title
            &__word
                display: block
                &::after
                    display: none
    .control 
        background-color: $dark 
        color: $light
        &__form
            flex-direction: column
        &__input-group
            &:first-child
                margin-bottom: 2rem
        &__label
            &--dark
                &::placeholder
                    color: $light
        &__button
            order: 2
            margin-bottom: -6rem
            margin-top: 4rem
        &__policy
            order: 1
            margin-top: 0.7rem
            &-label
                justify-content: flex-start
        &__video
            background-size: contain
    .video
        &__play
            width: 20%
    .row
        flex-direction: column
        align-items: center
    .col-50
        width: 65%
    .types
        &__card
            margin-bottom: 5rem
        &__design            
            background-color: black
            color: $light
    .card
        &__text
            margin-left: 0
            color: black
        &__subtitle
            color: $light
        &__item-end
            &~li 
                display: none
            &::after
                content: '...'
        &__pricetag
            padding: 1rem 4rem 1rem 3rem
    .our-team
        &__button
            left: 0
            padding: 1rem 3rem
        &__card
            max-width: 16.2rem
            margin-left: auto

@media screen and ( max-width: 570px )
    .contacts
        &__button
            display: none
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
    .our-team
        &__button
            left: 0
            padding: 1rem 3rem
        &__card
            max-width: 16.2rem
            margin-left: auto

@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none
    