.scroll-top
	cursor: pointer
	position: fixed
	bottom: 3.57rem
	right: 5.14rem
	width: 3.57rem
	height: 3.57rem
	border-radius: 50%
	border: 2px solid $dark
	background-color: $primary
	z-index: 1000
	outline: none
	&::after
		content: ''
		width: 0.714rem
		height: 0.714rem
		border-top: 2px solid $dark
		border-left: 2px solid $dark
		transform: rotate(45deg)
		position: absolute
		top: 0.286rem
		bottom: 0
		left: 0
		right: 0
		margin: auto


