.our-clients
    &__text
        text-align: center
        font-style: normal
        font-weight: normal
        font-size: 1.43rem
        line-height: 34px
        font-family: 'Futura Book', sans-serif
        max-width: 25.71rem
        margin: auto
        color: $dark
    &__name
        display: flex
        justify-content: space-between
    &__card
        margin-top: 3.57rem
    &__stick
        margin-left: 1rem
        margin-right: 1rem
    &__button
        padding-bottom: 0
        padding-top: 0
        display: flex
        justify-content: space-between
        padding-right: 2rem 
    &__title, &__span
        margin-left: 1rem
        margin-top: 1.5rem  
.client-img
    border-radius: 50%
.card
    &__item
        font-family: 'Futura Book', sans-serif
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 180%

