.our-team
    margin-top: -30rem
    color: $light
    &__text
        text-align: center
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 34px
        font-family: 'Futura Book', sans-serif
        max-width: 40.57rem
        margin: auto
        color: $dark
        &::before
            margin: auto
            display: block
            content: ''
            width: 55px
            height: 2px
            background-color: $primary
            border-radius: 30px
            margin-bottom: 2.5rem
            margin-top: 3rem
    &__subtitle
        max-width: 32rem
        color: $light
    &__card
        margin: auto
        color: $dark
        text-align: center
        margin-top: -7rem
        margin-bottom: 5rem
        max-width: 16.64rem
    &__button
        font-size: 0.928rem
        padding: 1rem 2.8rem
        left: 0.3rem

