.projects
    &__container
        margin-bottom: 28rem
.swiper
    &-slide
        display: flex
        flex-wrap: wrap
        &__text
            flex-basis: 50%
            margin-bottom: 0.8rem
            padding-bottom: 2rem
            &__purpose
                flex-basis: 30%
        &__heading, &__number
            font-family: 'Yeseva One', cursive
            font-size: 1.285rem
            color: $primary
            line-height: 1.78rem
            text-transform: uppercase
            margin-bottom: 0.64rem
        &__number
            display: block
            position: relative
            color: $light
            &::after
                display: block
                position: absolute
                content: ''
                height: 2px
                width: 1.6rem
                background-color: $primary
                left: 0
                bottom: 0
    &-pagination
        &-bullet
            background-color: rgba($light, 0.5)
            &-active
                background-color: $light
    &-button 
        &-prev, &-next
            bottom: 0
            top: auto
            background-size: 42px
            width: 42px
            height: 14px
            &::after
                display: none
        &-prev 
            margin-left: 0
            background: url('../img/left.svg') no-repeat center 
        &-next
            background: url('../img/right.svg') no-repeat center 
.section
    &-title
        &__subtitle, &__part
            text-transform: uppercase
            font-family: 'Yeseva One', cursive

.swiper-container-horizontal>.swiper-pagination-bullets
    width: auto
    bottom: -1px         

        